:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #FAFAFA;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: var(--grey);
}
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    z-index: 100;
}
#register {
    position: relative;
    background-color: var(--green);
    color: var(--white);

}
#register:hover{
    background-color: var(--light-green)
}
.btn-link {

    color: var(--light-green) !important;

}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding:30px;
}

.first-display-card {
    background-color: var(--white);
    color: var(--black);
    width:500px;
    
}