:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #FAFAFA;
}

#register {
    position: relative;
}

.btn-link {

    color: var(--white) !important;

}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.first-display-card {
    background-color: var(--green);
    color: var(--white)
}