:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #FAFAFA;
}

* {
    font-family: 'Poppins', sans-serif;

}
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.react-calendar {
    margin-left: 10%;
    width:800px;
}
.calendar-container{
    display:flex;
    justify-content: space-between;
    width:850px;
    height:300px;
    border-radius: 25px;
    border: 2px solid transparent;
}

.programari{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:var(--white);
    width:350px;
    border-radius: 25px;
    border: 2px solid transparent;
    text-align: center;
}

.gol{
    background-color:var(--grey);
    height: 5px;
    width: 5px;
}

.title{
    margin-bottom: 5%;
    margin-top:10%;
    font-weight: 700;
    font-size: 36px;
    color:#007E85;
}

.programari-recurente-container{
    margin: 5%;
    flex-direction: column;
    justify-content: left;
    width:80vw;
    height:500px;
    border-radius: 25px;
    background: var(--white);
}

.profil{
    margin: 2%;
     width:50vw;
    height:500px;
    border-radius: 25px;
    background: var(--white);
    display:flex;
    align-items:center;
    justify-content: center;
  
}

.verticalLine{
    border-left:  solid var(--green);
    height:100%;
}