:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #FAFAFA;
}

.nav {
    background-color: var(--light-white);
    .nav-link {
        color:var(--green);
        font-weight: 700;
    }
    .nav-link:hover {
        color:var(--light-green);
        font-weight: 700;

    }
    height:50px;
    
}

.icons {
    height: 40px;
    width: 40px;
}

