:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #ECECEC;
}

* {
    font-family: 'Poppins', sans-serif;

}

.background{
     display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color:var(--grey);
    
}
.container{
    text-align: center;
   
}
.card-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 25px;
    row-gap: 20px;
    column-gap:20px;
    left: 0;
    color:var(--green);
    font-weight: 700;
    .card-text{
        color:var(--black);
        font-weight: 500;
    }
}

.row{
    margin-top:10px;
}
.item-title{
   
    text-align: center;
    color:var(--green);
    font-weight: 700;
    font-size:20px;
}

.card-img{
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 10px;
}

.card-title{
    font-weight:700;
}
