:root {
    --light-brown: #edc591;
    --green: #007E85;
    --light-green: #6EAB36;
    --white: #fff;
    --black: #555555;
    --grey: #FAFAFA;
}

* {
    font-family: 'Poppins', sans-serif;

}
.card-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 25px;
    row-gap: 20px;
    column-gap:20px;
    left: 0;
}